<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All customers</title>
</head>
<body>
<div align="right">
    <form th:method="GET" th:action="@{/logout}">
        <input type="submit" value="Logout">
    </form>
</div>
<div align="center">
    <h2>All customers</h2>
    <div th:each="customer : ${customers}">
        <a th:href="@{/customers/{id}(id=${customer.getId()})}" th:text="${customer.getFullName()}"/>
    </div>

    <div>&nbsp;</div>
    <div>
        Total storages: [[${totalCustomers}]] - Page [[${currentPage}]] of [[${totalPages}]]
        &nbsp; - &nbsp;

        <span th:each="e : ${#numbers.sequence(1, totalPages)}">
    <a th:if="${e != currentPage}" th:href="@{'/customers/page/' + ${e}}">[[${e}]]</a> &nbsp;&nbsp;
    <span th:unless="${e != currentPage}" >[[${e}]]</span> &nbsp;&nbsp;
  </span>
    </div>

    </br>
    <form th:method="GET" th:action="@{/customers/search}">
        <input type="submit" value="Search customer">
    </form>
    </br>

    </br>
    <form th:method="GET" th:action="@{/customers/new}">
        <input type="submit" value="Create new customer">
    </form>
    </br>
    </br>
    <form th:method="GET" th:action="@{/storages/}">
        <input type="submit" value="Go to storages">
    </form>
</div>
</body>
</html>